# # Ignore logs and temporary files
*.log
*.tmp
*.bak
*.~*

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# IDE/Editor configurations & Git
*.idea/
*.swp
.git/
.gitignore

# System files
*.DS_Store
Thumbs.db

# Build and distribution directories
build/
dist/

LICENSE

README.md
